@import "styles/abstract/variables";

.collection {
  margin-bottom: 5rem;
  &--title {
    color: $color-primary;
    margin-bottom: 0.5rem;
  }
  &--list {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-bottom: 0.8rem;
    
    overflow-x: auto;

    &::-webkit-scrollbar{
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
      background-color: $color-primary;
      border-radius: 1000px;
    }

    &::-webkit-scrollbar-track{
    }
  }
}
