@import "styles/abstract/variables.scss";

.button{
  height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



  &-contained{
    background-color: $color-primary;
    color: $color-secondary-dark;
    border: 1px solid $color-primary;

    &:hover{
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 5%);
    }
  }
  &-outlined{
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: darken(transparent, 10%);

    &:hover{
      background-color: rgba($color-primary, 0.2)
    }
  }
  
}