@import "styles/abstract/variables.scss";
@import "styles/abstract/mixins.scss";

.nav-bar {
  display: flex;
  background-color: $color-secondary-dark;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: fixed;
  width: 100vw;

  &__left {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5rem;

    @include respond(phone){
      padding-left: 2rem;
    }

    flex: 1;
    & img {
      height: 2rem;
      cursor: pointer;
    }
  }
  &__right {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5rem;

    @include respond(phone){
      padding-right: 2rem;
    }

    & > .button{
      &:not(:last-child){
        margin-right: 0.5rem;
      }
    }
  }
}
