@import "styles/abstract/variables.scss";

.card{
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  background-color: $color-secondary-light;
  border-radius: 0.5rem;
  transition: 0.2s all;


  &:hover{
    box-shadow: rgba($color-primary, 0.3) 0px 0px 0px 3px;
    transform: scale(1.02);
  }

  
  & > a {
    text-decoration: none;
  }

  &--img{
    width: 100%;
    aspect-ratio: 16/9;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &--title{
    width: calc(100% - 2rem);
    color:white;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
  }
}